/* your beautiful css styling goes here! */


/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.board {
  height: 400px;
  width: 600px;
  background-color: lightgrey;
}

.scoreboard,
.scoreboard * {
  font-size: 20px;
  display: inline;
  float: right;
}

.enemy {
  background-image: url('asteroid.png');
  background-size: 100%;
  width: 75px;
  height: 75px;
}

.player-shield{
  fill: transparent;
  stroke: black;
}

.player-ship{
  fill: hsl(315, 100%, 60%);
  stroke: black;
  stroke-width: 2px;
}